<section>
    <h1>Login</h1>
    <form action="/api/sessions/login" method="POST" class="form-group">        
        <input type="text" name="email" placeholder="email">
        <br>
        <input type="text" name="password" placeholder="password">
        <br>
        <button>Enviar</button>
    </form>
    <h2>Si no tenes un usuario, podes registrarte en este <a href="/register"><strong>link</strong></a></h2>
    <a href="/api/sessions/github">Github</a>
</section>

